<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/EstilosAlmacenar.css">
    <title>crear preguntas</title>
</head>
<body>
  <header> <h1>CREA TUS PREGUNTAS ¿? </h1> </header>
    <main class="caja">
      <form  action="/almacenar" method="post">
       <input type="text" name="pregunta" id="pregunta" placeholder="ingrese pregunta">
       <input type="text" name="opcion1" id="opcionA" placeholder="opcion a">
       <input type="text" name="opcion2" id="opcionB" placeholder="opcion b">
       <input type="text" name="opcion3" id="opcionC" placeholder="opcion c">
       <label for="correcto">INGRESE LA OPCION CORRECTA</label>
       <select name="respuesta" id="correcto">
        <option value="A">a</option>
        <option value="B">b</option>
        <option value="C">c</option>
       </select>
       <button type="submit" id="enviar">ENVIAR</button>
      </form>
    </main>
</body>
</html>