<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/EstilosAlmacenar.css">
    <title>crear preguntas</title>
</head>
<body>
  <header> <h1>CREA TUS PREGUNTAS ¿? </h1> </header>
    <main class="caja">
      <form>
       <input type="text" id="pregunta" placeholder="ingrese pregunta">
       <input type="text" id="opcionA" placeholder="opcion a">
       <input type="text" id="opcionB" placeholder="opcion b">
       <input type="text" id="opcionC" placeholder="opcion c">
       <label for="correcto">INGRESE LA OPCION CORRECTA</label>
       <select name="asunto" id="correcto">
        <option value="A">a</option>
        <option value="B">b</option>
        <option value="C">c</option>
       </select>
       <button id="enviar">ENVIAR</button>
       
      </form>
    </main>
    <script src="almacenar.js" ></script>
</body>
</html>