<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Preguntas Random</title>
    <div class="top">  <h1>preguntas random</h1> </div>
</head>
<body>
    <section class="container">
        <a class="boton" href="/juego">JUGAR</a>
        <a class="boton2" href="/almacenar">CREAR PREGUNTAS</a>
        


    </section>
    <div class="cube">
    <div> 
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
    </div>

    </div>
</body>

</html>