<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/admin.css">
    <title>Admin</title>
</head>
<body>
 <div class="card">
    <h1>Admin</h1>
    <a href="/admin/solicitudes">Solicitudes</a>
    <a href="/admin/preguntas">Preguntas</a>
 </div>
</body>
</html>